<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome! Choose an Option</h1>
    <a href="{% url 'citizen_signin' %}">Citizen Login</a> | 
    <a href="{% url 'citizen_signup' %}">Citizen Signup</a>
    <br>
    <a href="{% url 'institute_signin' %}">Institute Login</a> | 
    <a href="{% url 'institute_signup' %}">Institute Signup</a>
</body>
</html>
